<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <mat-nav-list class="m-0">
          <a
            class="underline"
            mat-list-item
            *ngFor="let link of links"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="{{ link.url }}"
            routerLinkActive="active"
            (click)="onClose()"
          >
            <span class="nav-caption h5">{{
             link.ruta
            }}</span>
          </a>
        </mat-nav-list>
      </div>
    </div>
  </div>
